pkgbase = dangku-repo
	pkgdesc = Repository with additional bananapi m5 packages not in alarm.
	pkgver = 1.1
	pkgrel = 1
	url = http://github.com/Dangku/
	install = INSTALL
	arch = aarch64
	license = MIT
	depends = pacman
	depends = grep
	depends = sed
	source = dangku-mirrorlist
	md5sums = ee4fbf97c62fdd4f87a70241a8e3b26b

pkgname = dangku-repo

