pkgbase = dangku-repo
	pkgdesc = Repository with additional bananapi m5 packages not in alarm.
	pkgver = 1.1
	pkgrel = 1
	url = http://github.com/Dangku/
	install = INSTALL
	arch = aarch64
	license = MIT
	depends = pacman
	depends = grep
	depends = sed
	source = dangku-mirrorlist
	md5sums = 775008b60c23cae0f5bb41b65b20b6ab

pkgname = dangku-repo

